<%- include ('partials/header.ejs')%>
<body>
<%- include ('partials/navbar.ejs')%>
    <% for (const question of questions) { %>
        <br>
        <div class="card">
            <div class="card-title">
                <h3><%= question.title %></h3>
            </div>

            <div class="card-body">
                <p><%= question.description %></p>
            </div>

            <div class="card-footer">
                <a href="/question/<%= question.id %>"><button class="btn btn-primary"> Answer </button></a>
            </div>
        </div>
        <br>
    <% } %>
</body>
<%- include ('partials/footer.ejs')%>